extend layout

block content
  h1 #{activity.name}
  h2 #{new Date(activity.time)}

  ul.stats
    li Distance: #{stats.distance} km
    li Time: #{stats.time} h
    li Average Speed: #{stats.averageSpeed} km/h

  ol.points
    each point in points
      li #{point.time} lat: #{point.lat} lon: #{point.lon} ele: #{point.ele}
