extend layout

block content
  h1 #{activity.name}
  h2 #{new Date(activity.time)}

  ul#stats
    li Distance:
      span #{stats.distance.toFixed(2)} km
    li Time:
      span #{stats.time.toFixed(2)} h
    li Average Speed:
      span #{stats.averageSpeed.toFixed(2)} km/h

  #map-canvas

  ol#points
    each point in points
      li(class='point', data-date='#{point.time}', data-altitude='#{point.ele}', data-lon='#{point.lon}', data-lat='#{point.lat}')

