extend layout

block content
  h1 #{activity.name}
  h2 #{new Date(activity.time)}

  #map-canvas

  ol#points
    each point in points
      li(class='point', data-date='#{point.time}', data-altitude='#{point.ele}', data-lon='#{point.lon}', data-lat='#{point.lat}')
